<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="ServicesHost.Services.TicketManager">
        <endpoint address="net.tcp://localhost:8008/TM" binding="netTcpBinding"
          contract="ServicesHost.Contracts.ITicketService" />
      </service>
      <service name="ServicesHost.Services.SystemManager">
        <endpoint address="net.tcp://localhost:8008/SM" binding="netTcpBinding"
          contract="ServicesHost.Contracts.ISystemService"
             
                  ></endpoint>
      </service>
      <service name="ServicesHost.Services.UserManager">
        <endpoint address="net.tcp://localhost:8008/UM" binding="netTcpBinding"
          contract="ServicesHost.Contracts.IUserService" />
      </service>
    </services>
    <bindings>
    <netTcpBinding>
      <binding maxReceivedMessageSize="2000000" transactionFlow="true">
        <reliableSession enabled="true" />
      
      
      </binding>
    </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="customCred">
          <serviceCredentials>
            <!--Service identity + encryption certificate-->
            <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName"
                                storeLocation="LocalMachine" storeName="My" />

            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="ServicesHost.UsernameAuthentication, Server" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>