<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Behavior1">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="trains" storeLocation="LocalMachine"
             storeName="My" x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
             customUserNamePasswordValidatorType="Service.UserConfirm, Service" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="Binding1">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>

        
        
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Behavior1" name="Service.StationManagment">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1"
         contract="Service.App_Data.Contracts.IStationManagment"  />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2106/" />
          </baseAddresses>
        </host>
      </service>
      

     <service behaviorConfiguration="Behavior1" name="Service.ReservationManagment">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1"
         contract="Service.App_Data.Contracts.IReservationManagment" />
        <endpoint address="unsec" binding="wsHttpBinding"
         contract="Service.App_Data.Contracts.IReservationManagmentUnsecure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2106/" />
          </baseAddresses>
        </host>
      </service>
      
      <service behaviorConfiguration="Behavior1" name="Service.UserManagment">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1"
         contract="Service.App_Data.Contracts.IUserManagment" />
        <endpoint address="unsec" binding="wsHttpBinding"
         contract="Service.App_Data.Contracts.IUserManagmentUnsecure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2106/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="Behavior1" name="Service.ConnectionManagment">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="Binding1"
         contract="Service.App_Data.Contracts.IConnectionManagment" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2106/" />
          </baseAddresses>
        </host>
      </service>

    </services>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
