<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <system.serviceModel>
      
        <behaviors>
            <serviceBehaviors>
                <behavior name="MetaDaneR">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/R/mex" />
                </behavior> 
                  <behavior name="MetaDaneC">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/C/mex" />
                </behavior>   
                  <behavior name="MetaDaneS">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/S/mex" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="NewBinding0" />
            </basicHttpBinding>
        </bindings>
        <services>
          
            <service behaviorConfiguration="MetaDaneR" name="WcfServiceLibrary.Services.ReservationManagment">
              <host> <baseAddresses>
                <add baseAddress="http://localhost:8080/R"/>
              </baseAddresses></host>
                <endpoint address="http://localhost:8080/R/Reservation" binding="basicHttpBinding"
                    bindingConfiguration="NewBinding0" contract="WcfServiceLibrary.Contracts.IReservationManagment" />
            </service> 
              <service behaviorConfiguration="MetaDaneC" name="WcfServiceLibrary.Services.ConnectionManagment">
              <host> <baseAddresses>
                <add baseAddress="http://localhost:8080/C"/>
              </baseAddresses></host>
                <endpoint address="http://localhost:8080/C/Connection" binding="basicHttpBinding"
                    bindingConfiguration="NewBinding0" contract="WcfServiceLibrary.Contracts.IConnectionManagment" />
            </service> 
              <service behaviorConfiguration="MetaDaneS" name="WcfServiceLibrary.Services.StationManagment">
              <host> <baseAddresses>
                <add baseAddress="http://localhost:8080/S"/>
              </baseAddresses></host>
                <endpoint address="http://localhost:8080/S/Station" binding="basicHttpBinding"
                    bindingConfiguration="NewBinding0" contract="WcfServiceLibrary.Contracts.IStationManagment" />
            </service> 
          
        </services>
    </system.serviceModel>
</configuration>